In [ ]:
# prompt: set up spark -3.4.3

!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
!pip install -q findspark
!export PATH=$PATH:/content/spark-3.4.3-bin-hadoop3/bin
!export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done

In [ ]:
# Set Spark Home
os.environ["SPARK_HOME"] = "/content/spark-3.4.3-bin-hadoop3"

# Create a SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("analysis").getOrCreate()

# Print the SparkSession
print(spark)

<pyspark.sql.session.SparkSession object at 0x7993dc8cf880>

In [ ]:
spark

In [ ]:
posting=spark.read.format("csv").option("header","true").load("/content/marketing_sample_for_naukri_com-jobs__20190701_20190830__30k_data.csv")

In [ ]:
posting.show()

+--------------------+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|             Uniq Id|     Crawl Timestamp|           Job Title|          Job Salary|Job Experience Required|          Key Skills|       Role Category|            Location|     Functional Area|            Industry|                Role|
+--------------------+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|9be62c49a0b7ebe98...|2019-07-05 01:46:...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|         Advertising|              Mumbai|Marketing , Adver...|Advertising, PR, ...|Media Planning Ex...|
|3c52d436e39f596b2...|2019-07-06 08:04:...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|           Pune,Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|
|ffad8a2396c60be2b...|2019-08-05 15:50:...| Trainee Research...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|             Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|
|7b921f51b5c2fb862...|2019-08-05 15:31:...|   Technical Support| 2,00,000 - 4,00,...|              0 - 5 yrs|   Technical Support|Admin/Maintenance...|              Mumbai|IT Software - App...|IT-Software, Soft...|Technical Support...|
|2d8b7d44e138a54d5...|2019-07-05 02:48:...| Software Test En...| Not Disclosed by...|              2 - 5 yrs| manual testing| ...|Programming & Design|           Hyderabad|IT Software - QA ...|IT-Software, Soft...|    Testing Engineer|
|c9628ea8d9cfd2ca7...|2019-08-05 03:59:...| Opening For Adob...| 7,00,000 - 17,00...|              5 - 7 yrs| adobe experience...|Programming & Design|                Pune|IT Software - App...|IT-Software, Soft...|      System Analyst|
|2008eb365fa0ebcb1...|2019-07-06 09:20:...| Sales- Fresher-f...| 2,00,000 - 3,00,...|              0 - 0 yrs| channel partners...|        Retail Sales|           Bengaluru|Sales , Retail , ...|Real Estate, Prop...|Sales Executive/O...|
|9642bed00e26183e4...|2019-08-04 03:31:...| Opportunity For ...| Not Disclosed by...|             9 - 14 yrs| TFS| Azure| Git|...|Programming & Design|           Hyderabad|IT Software - App...|IT-Software, Soft...| Technical Architect|
|2633768efe8c6f72d...|2019-07-06 15:41:...|           BDE- PUNE| Not Disclosed by...|              2 - 7 yrs|                 Bde| Institutional Sales|                Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|
|138a9ab97a766d804...|2019-07-04 12:37:...| Technical Suppor...| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|           Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|
|823c36988178cf5c9...|2019-08-05 17:37:...| Executive Assist...| 25,00,000 - 35,0...|             5 - 10 yrs| secretary| execu...|Corporate Plannin...|              Mumbai|Strategy , Manage...|Courier, Transpor...|Corporate Plannin...|
|a607d6b0ce2e03b55...|2019-08-05 14:03:...|       SEO Executive| Not Disclosed by...|              1 - 6 yrs| website| web ana...|Admin/Maintenance...|Noida,Delhi,Noida...|IT Software - eCo...|IT-Software, Soft...|           Webmaster|
|fe0f1e3bae37f5a69...|2019-07-07 02:26:...| Workflow Coordin...| Not Disclosed by...|              2 - 7 yrs| operations| work...|          Operations|         Delhi,Delhi|ITES , BPO , KPO ...|BPO, Call Centre,...|Process Flow Analyst|
|225c4680e3df32fba...|2019-08-04 09:37:...|         Oracle IDAM|         Openings: 1|            3 - 7 Years| Oracle IDAM|OIM|OAM|Programming & Design|Bengaluru,Hyderab...|IT Software - App...|IT-Software / Sof...|  Software Developer|
|d3fac027fd78efae2...|2019-07-04 20:06:...| Looking Facebook...| 3,50,000 - 5,00,...|              2 - 4 yrs| digital marketin...|Online/Digital Ma...|             Gurgaon|Marketing , Adver...|Advertising, PR, ...|Social Media Mark...|
|04eb1d641b91b8083...|2019-08-05 04:32:...| Wanted Engineeri...| Not Disclosed by...|              0 - 1 yrs| instrumentation ...|                null|             Chennai|               Other|               Other|               Other|
|f501e8c72bdb217c4...|2019-07-06 19:30:...| Tooling &amp; Sa...| Not Disclosed by...|              2 - 7 yrs| Help Desk| Custo...|  Engineering Design|           Faridabad|Engineering Desig...|Industrial Produc...|Senior Design Eng...|
|d3a1f8730445764ca...|2019-08-06 07:55:...|     Account Manager| Not Disclosed by...|              3 - 7 yrs| Report Generatio...|            Accounts|              Mumbai|Accounts , Financ...|IT-Software, Soft...|    Accounts Manager|
|201088d1d59684152...|2019-08-04 20:46:...|   Magento Developer| Not Disclosed by...|              2 - 7 yrs| Copyright| Email...|Programming & Design|           Ahmedabad|IT Software - eCo...|Textiles, Garment...|  Software Developer|
|29efa47a392d94db3...|2019-08-04 22:29:...| Looking For Trai...| Not Disclosed by...|              0 - 3 yrs| C#| MS Dynamics ...|Programming & Design|           Hyderabad|IT Software - App...|IT-Software, Soft...|  Software Developer|
+--------------------+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
posting.head()

Row(Uniq Id='9be62c49a0b7ebe982a4af1edaa7bc5f', Crawl Timestamp='2019-07-05 01:46:07 +0000', Job Title=' Digital Media Planner', Job Salary=' Not Disclosed by Recruiter ', Job Experience Required='5 - 10 yrs', Key Skills=' Media Planning| Digital Media', Role Category='Advertising', Location='Mumbai', Functional Area='Marketing , Advertising , MR , PR , Media Planning', Industry='Advertising, PR, MR, Event Management', Role='Media Planning Executive/Manager')

In [ ]:
from pyspark.sql.functions import col, sum

posting.select([sum(col(c).isNull().cast("int")).alias(c) for c in posting.columns]).show()

+-------+---------------+---------+----------+-----------------------+----------+-------------+--------+---------------+--------+----+
|Uniq Id|Crawl Timestamp|Job Title|Job Salary|Job Experience Required|Key Skills|Role Category|Location|Functional Area|Industry|Role|
+-------+---------------+---------+----------+-----------------------+----------+-------------+--------+---------------+--------+----+
|      0|              0|      575|        50|                    573|      1271|         2304|     577|            573|     573| 900|
+-------+---------------+---------+----------+-----------------------+----------+-------------+--------+---------------+--------+----+

In [ ]:
posting = posting.dropna()

In [ ]:
from pyspark.sql.functions import col

posting = posting.filter((col("Uniq Id") != "") &
                         ((col("Job Title") != "") |
                          (col("Job Salary") != "") |
                          (col("Job Experience Required") != "") |
                          (col("Key Skills") != "") |
                          (col("Role Category") != "") |
                          (col("Location") != "") |
                          (col("Functional Area") != "") |
                          (col("Industry") != "") |
                          (col("Role") != "")))

In [ ]:
posting.printSchema()

root
 |-- Uniq Id: string (nullable = true)
 |-- Crawl Timestamp: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Job Salary: string (nullable = true)
 |-- Job Experience Required: string (nullable = true)
 |-- Key Skills: string (nullable = true)
 |-- Role Category: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Functional Area: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Role: string (nullable = true)

In [ ]:
unique_job_titles = posting.select("Job Title").distinct()
unique_job_titles.show()

+--------------------+
|           Job Title|
+--------------------+
| Inbound Technica...|
| Adeeba Group is ...|
|   Embedded Engineer|
| Group Leader - M...|
| Fresher Engineer...|
| Nutrition Execut...|
| J2EE Full Stack ...|
| System Administr...|
| DIS Technology A...|
|Assistant Manager...|
|Amazon Hiring Dat...|
| Opening for Seni...|
| Senior Executive...|
| HR Manager Jobs ...|
| Share Point Deve...|
|     Java Developer,|
| Pediatrician Con...|
| Team Leader : Cr...|
| Required 10th/12...|
|Supply Chain and ...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Job Salary").distinct()
unique_job_titles.show()

+--------------------+
|          Job Salary|
+--------------------+
| 1,25,000 - 4,25,...|
| 12,00,000 - 20,0...|
| INR 2,00,000 - 2...|
| INR Both Side Ca...|
| 2,75,000 - 5,50,...|
| 8,50,000 - 9,00,...|
| 6,00,000 - 13,00...|
| 18,00,000 - 20,0...|
| 9,00,000 - 15,00...|
|INR 5,00,000 - 10...|
| 7,50,000 - 10,00...|
| INR 2,50,000 - 4...|
| 1,00,000 - 2,25,...|
| INR 5,50,000 - 6...|
| 8,00,000 - 16,00...|
| At par with indu...|
| 1,50,000 - 4,00,...|
| Best in the Indu...|
| Best in the Market |
| 2,25,000 - 2,50,...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Job Experience Required").distinct()
unique_job_titles.show()

+-----------------------+
|Job Experience Required|
+-----------------------+
|              0 - 3 yrs|
|            1 - 3 Years|
|          14 - 16 Years|
|             2 - 10 yrs|
|          12 - 18 Years|
|              0 - 4 yrs|
|             7 - 12 yrs|
|              5 - 7 yrs|
|             9 - 12 yrs|
|            2 - 4 Years|
|            11 - 18 yrs|
|              2 - 7 yrs|
|                0 Years|
|            15 - 23 yrs|
|          14 - 22 Years|
|          12 - 20 Years|
|            17 - 27 yrs|
|              1 - 7 yrs|
|              1 - 4 yrs|
|           7 - 12 Years|
+-----------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Key Skills").distinct()
unique_job_titles.show()

+--------------------+
|          Key Skills|
+--------------------+
| Outbound| Medica...|
|    land acquisition|
| Relationship man...|
| Outbound| Techni...|
| Angularjs| Java|...|
| Email| PDF| EMEA...|
| Application Soft...|
| Estimation| Tend...|
| QA automation| L...|
| Contract managem...|
| SAP SD| SAP SD C...|
| b2b sales| busin...|
| rfp| presales| r...|
| International Sa...|
| Web Technologies...|
| Attendance| Trai...|
| bd| Sales| Direc...|
| Secondary resear...|
| PHP| MySQL| SEO|...|
| Field Sales| Mar...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Role Category").distinct()
unique_job_titles.show()

+--------------------+
|       Role Category|
+--------------------+
| After Sales Service|
|  Investment Banking|
|"Xoriant Corporat...|
|Magma Fincorp Lim...|
|             Telecom|
|Operations/Processes|
|Allegis Group Ind...|
|At TEKsystems, we...|
|       Card Products|
|Company Profile H...|
|Programming & Design|
|               Voice|
|"* A US based $4....|
|Interaction with ...|
|Saisun Outsourcin...|
| Working with Org...|
|            Teachers|
|Mutual Funds/Fund...|
|Language Teachers...|
|           OYO ROOMS|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Location").distinct()
unique_job_titles.show()

+--------------------+
|            Location|
+--------------------+
|Bengaluru,Chennai...|
|Bengaluru,Hyderab...|
| Bengaluru, Pune,...|
|Chennai,Delhi NCR...|
|Bhiwadi,Gurgaon,M...|
|Hyderabad,Pune,Ko...|
|Delhi NCR,Mumbai,...|
|Ahmedabad,Other C...|
|           Bangalore|
|    Vellore, Chennai|
|Hyderabad (Pochar...|
|Delhi NCR,Bengalu...|
|         Pune,Mumbai|
|Mumbai,Bengaluru,...|
|Bengaluru,Delhi,J...|
|Bengaluru,Ahmedab...|
|Mumbai (Prabhadev...|
|Ahmedabad,Surat,J...|
|Faridabad,Delhi,M...|
|Delhi NCR,Bengalu...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Functional Area").distinct()
unique_job_titles.show()

+--------------------+
|     Functional Area|
+--------------------+
|Architecture , In...|
|IT Software - Sys...|
|IT Software - Mid...|
|TV , Films , Prod...|
|Accounts , Financ...|
|Allegis Group Ind...|
|Export , Import ,...|
|At TEKsystems, we...|
|Teaching , Educat...|
|Production , Manu...|
|Marketing , Adver...|
|IT Software - App...|
| Infrastructure a...|
| the company spec...|
|Sales , Retail , ...|
|Purchase / Logist...|
|000 colleagues in...|
| Infrastructure a...|
| share knowledge ...|
|Strategy , Manage...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Industry").distinct()
unique_job_titles.show()

+--------------------+
|            Industry|
+--------------------+
|Automobile / Auto...|
|  Retail / Wholesale|
|000 employees acr...|
|Allegis Group Ind...|
|NGO, Social Servi...|
|        Broadcasting|
| Government, Defence|
|Travel / Hotels /...|
|At TEKsystems, we...|
|Architecture / In...|
|IT-Software, Soft...|
|Recruitment, Staf...|
|Aviation, Aerospa...|
|Travel , Hotels ,...|
|Semiconductors, E...|
|Banking, Financia...|
| Brewery, Distillery|
|Consumer Electron...|
|Real Estate, Prop...|
|Media, Entertainm...|
+--------------------+
only showing top 20 rows

In [ ]:
unique_job_titles = posting.select("Role").distinct()
unique_job_titles.show()

+--------------------+
|                Role|
+--------------------+
|Assistant Manager...|
|        Ground Staff|
|    Product Designer|
|Head / VP / GM-Ta...|
|        Cardiologist|
|         RF Engineer|
|   Financial Analyst|
|Team Lead/Technic...|
|Tour Management M...|
|Database Architec...|
|Allegis Group Ind...|
|           Webmaster|
|  Sales / BD Manager|
|Structural Engine...|
|    Treasury Manager|
|Mechanical Engine...|
|At TEKsystems, we...|
|   Footwear Designer|
|Service Delivery ...|
|        2nd Engineer|
+--------------------+
only showing top 20 rows

In [ ]:
posting = posting.drop("Crawl Timestamp")

In [ ]:
posting.printSchema()

root
 |-- Uniq Id: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Job Salary: string (nullable = true)
 |-- Job Experience Required: string (nullable = true)
 |-- Key Skills: string (nullable = true)
 |-- Role Category: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Functional Area: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Role: string (nullable = true)

In [ ]:
from pyspark.sql.functions import split, explode
posting = posting.withColumn("Job Title", explode(split(posting["Job Title"], "/")))

# Show the DataFrame with split "Job Title"
posting.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|       Role Category|            Location|     Functional Area|            Industry|                Role|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|         Advertising|              Mumbai|Marketing , Adver...|Advertising, PR, ...|Media Planning Ex...|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|           Pune,Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|             Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|             Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|
|7b921f51b5c2fb862...|   Technical Support| 2,00,000 - 4,00,...|              0 - 5 yrs|   Technical Support|Admin/Maintenance...|              Mumbai|IT Software - App...|IT-Software, Soft...|Technical Support...|
|2d8b7d44e138a54d5...| Software Test En...| Not Disclosed by...|              2 - 5 yrs| manual testing| ...|Programming & Design|           Hyderabad|IT Software - QA ...|IT-Software, Soft...|    Testing Engineer|
|c9628ea8d9cfd2ca7...| Opening For Adob...| 7,00,000 - 17,00...|              5 - 7 yrs| adobe experience...|Programming & Design|                Pune|IT Software - App...|IT-Software, Soft...|      System Analyst|
|2008eb365fa0ebcb1...| Sales- Fresher-f...| 2,00,000 - 3,00,...|              0 - 0 yrs| channel partners...|        Retail Sales|           Bengaluru|Sales , Retail , ...|Real Estate, Prop...|Sales Executive/O...|
|9642bed00e26183e4...| Opportunity For ...| Not Disclosed by...|             9 - 14 yrs| TFS| Azure| Git|...|Programming & Design|           Hyderabad|IT Software - App...|IT-Software, Soft...| Technical Architect|
|2633768efe8c6f72d...|           BDE- PUNE| Not Disclosed by...|              2 - 7 yrs|                 Bde| Institutional Sales|                Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|           Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|
|138a9ab97a766d804...|     Product Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|           Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|
|823c36988178cf5c9...| Executive Assist...| 25,00,000 - 35,0...|             5 - 10 yrs| secretary| execu...|Corporate Plannin...|              Mumbai|Strategy , Manage...|Courier, Transpor...|Corporate Plannin...|
|a607d6b0ce2e03b55...|       SEO Executive| Not Disclosed by...|              1 - 6 yrs| website| web ana...|Admin/Maintenance...|Noida,Delhi,Noida...|IT Software - eCo...|IT-Software, Soft...|           Webmaster|
|fe0f1e3bae37f5a69...| Workflow Coordin...| Not Disclosed by...|              2 - 7 yrs| operations| work...|          Operations|         Delhi,Delhi|ITES , BPO , KPO ...|BPO, Call Centre,...|Process Flow Analyst|
|225c4680e3df32fba...|         Oracle IDAM|         Openings: 1|            3 - 7 Years| Oracle IDAM|OIM|OAM|Programming & Design|Bengaluru,Hyderab...|IT Software - App...|IT-Software / Sof...|  Software Developer|
|d3fac027fd78efae2...|   Looking Facebook | 3,50,000 - 5,00,...|              2 - 4 yrs| digital marketin...|Online/Digital Ma...|             Gurgaon|Marketing , Adver...|Advertising, PR, ...|Social Media Mark...|
|d3fac027fd78efae2...|social Media Mana...| 3,50,000 - 5,00,...|              2 - 4 yrs| digital marketin...|Online/Digital Ma...|             Gurgaon|Marketing , Adver...|Advertising, PR, ...|Social Media Mark...|
|f501e8c72bdb217c4...| Tooling &amp; Sa...| Not Disclosed by...|              2 - 7 yrs| Help Desk| Custo...|  Engineering Design|           Faridabad|Engineering Desig...|Industrial Produc...|Senior Design Eng...|
|d3a1f8730445764ca...|     Account Manager| Not Disclosed by...|              3 - 7 yrs| Report Generatio...|            Accounts|              Mumbai|Accounts , Financ...|IT-Software, Soft...|    Accounts Manager|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
split_salary = split(posting["Job Salary"], " - ")

# Extract highest and lowest salaries
df = posting.withColumn("Highest Salary", split_salary.getItem(1))
df = df.withColumn("Lowest Salary", split_salary.getItem(0))

# Show the DataFrame with extracted salaries
df.show(truncate=False)

+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+----------------------------+
|Uniq Id                         |Job Title                                                     |Job Salary                  |Job Experience Required|Key Skills                                                                                                                                                              |Role Category                             |Location                           |Functional Area                                       |Industry                                      |Role                                   |Highest Salary|Lowest Salary               |
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+----------------------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner                                        | Not Disclosed by Recruiter |5 - 10 yrs             | Media Planning| Digital Media                                                                                                                                          |Advertising                               |Mumbai                             |Marketing , Advertising , MR , PR , Media Planning    |Advertising, PR, MR, Event Management         |Media Planning Executive/Manager       |null          | Not Disclosed by Recruiter |
|3c52d436e39f596b22519da2612f6a56| Online Bidding Executive                                     | Not Disclosed by Recruiter |2 - 5 yrs              | pre sales| closing| software knowledge| clients| requirements| negotiating| client| online bidding| good communication| technology                                     |Retail Sales                              |Pune,Pune                          |Sales , Retail , Business Development                 |IT-Software, Software Services                |Sales Executive/Officer                |null          | Not Disclosed by Recruiter |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |null          | Not Disclosed by Recruiter |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |null          | Not Disclosed by Recruiter |
|7b921f51b5c2fb862b4a5f7a54c37f75| Technical Support                                            | 2,00,000 - 4,00,000 PA.    |0 - 5 yrs              | Technical Support                                                                                                                                                      |Admin/Maintenance/Security/Datawarehousing|Mumbai                             |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |Technical Support Engineer             |4,00,000 PA.  | 2,00,000                   |
|2d8b7d44e138a54d5dc841163138de50| Software Test Engineer -hyderabad                            | Not Disclosed by Recruiter |2 - 5 yrs              | manual testing| test engineering| test cases| web testing| web technologies                                                                                            |Programming & Design                      |Hyderabad                          |IT Software - QA & Testing                            |IT-Software, Software Services                |Testing Engineer                       |null          | Not Disclosed by Recruiter |
|c9628ea8d9cfd2ca72e14d53783aca90| Opening For Adobe Analytics Specialist                       | 7,00,000 - 17,00,000 PA.   |5 - 7 yrs              | adobe experience manager| digital| digital marketing| adobe analytics| data analytics| aem| adobe| sitecatalyst                                                        |Programming & Design                      |Pune                               |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |System Analyst                         |17,00,000 PA. | 7,00,000                   |
|2008eb365fa0ebcb1ccd9a50efc3da49| Sales- Fresher-for Leading Property Consultant               | 2,00,000 - 3,00,000 PA.    |0 - 0 yrs              | channel partners| real estate| negotiation| property| Residential Sales                                                                                                |Retail Sales                              |Bengaluru                          |Sales , Retail , Business Development                 |Real Estate, Property                         |Sales Executive/Officer                |3,00,000 PA.  | 2,00,000                   |
|9642bed00e26183e41ab73778bf48108| Opportunity For Azure Devops Architect For Hyderabad Location| Not Disclosed by Recruiter |9 - 14 yrs             | TFS| Azure| Git| VSTS| Docker| DynaTrace| Splunk| AWS                                                                                                                  |Programming & Design                      |Hyderabad                          |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |Technical Architect                    |null          | Not Disclosed by Recruiter |
|2633768efe8c6f72d75158f1c173f893| BDE- PUNE                                                    | Not Disclosed by Recruiter |2 - 7 yrs              | Bde                                                                                                                                                                    |Institutional Sales                       |Pune                               |Sales , Retail , Business Development                 |IT-Software, Software Services                |Sales Executive/Officer                |null          | Not Disclosed by Recruiter |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|null          | Not Disclosed by Recruiter |
|138a9ab97a766d8048f5b246172f65ed| Product Support                                              | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|null          | Not Disclosed by Recruiter |
|823c36988178cf5c9a6a34e4fc75d4e0| Executive Assistant To Chairman                              | 25,00,000 - 35,00,000 PA.  |5 - 10 yrs             | secretary| executive assistant| ea                                                                                                                                     |Corporate Planning/Consulting/Strategy    |Mumbai                             |Strategy , Management Consulting , Corporate Planning |Courier, Transportation, Freight , Warehousing|Corporate Planning/Strategy Manager    |35,00,000 PA. | 25,00,000                  |
|a607d6b0ce2e03b55463d12199932a86| SEO Executive                                                | Not Disclosed by Recruiter |1 - 6 yrs              | website| web analytics| xml| link building| google analytics| case studies| seo| social media| tracking| maintaining                                                   |Admin/Maintenance/Security/Datawarehousing|Noida,Delhi,Noida/Greater Noida    |IT Software - eCommerce , Internet Technologies       |IT-Software, Software Services                |Webmaster                              |null          | Not Disclosed by Recruiter |
|fe0f1e3bae37f5a698e27659797333ca| Workflow Coordinator                                         | Not Disclosed by Recruiter |2 - 7 yrs              | operations| workflow| tat| monitoring| mts| email                                                                                                                      |Operations                                |Delhi,Delhi                        |ITES , BPO , KPO , LPO , Customer Service , Operations|BPO, Call Centre, ITeS                        |Process Flow Analyst                   |null          | Not Disclosed by Recruiter |
|225c4680e3df32fbaf9c625ca18ae47c|Oracle IDAM                                                   |Openings: 1                 | 3 - 7 Years           |Oracle IDAM|OIM|OAM                                                                                                                                                     |Programming & Design                      |Bengaluru,Hyderabad,Kolkata,Chennai|IT Software - Application Programming , Maintenance   |IT-Software / Software Services               |Software Developer                     |null          |Openings: 1                 |
|d3fac027fd78efae29c1f9394a6cd576| Looking Facebook                                             | 3,50,000 - 5,00,000 PA.    |2 - 4 yrs              | digital marketing| seo| social media marketing| content marketing| email marketing| sem| google analytics| campaign management| facebook| media management             |Online/Digital Marketing                  |Gurgaon                            |Marketing , Advertising , MR , PR , Media Planning    |Advertising, PR, MR, Event Management         |Social Media Marketing Manager         |5,00,000 PA.  | 3,50,000                   |
|d3fac027fd78efae29c1f9394a6cd576|social Media Manager For our Digital Marketing Ageny          | 3,50,000 - 5,00,000 PA.    |2 - 4 yrs              | digital marketing| seo| social media marketing| content marketing| email marketing| sem| google analytics| campaign management| facebook| media management             |Online/Digital Marketing                  |Gurgaon                            |Marketing , Advertising , MR , PR , Media Planning    |Advertising, PR, MR, Event Management         |Social Media Marketing Manager         |5,00,000 PA.  | 3,50,000                   |
|f501e8c72bdb217c4b61c712ed9c1361| Tooling &amp; Sampling                                       | Not Disclosed by Recruiter |2 - 7 yrs              | Help Desk| Customer Service| customer relationship| access controls| Asset Management| Vendor Management                                                               |Engineering Design                        |Faridabad                          |Engineering Design , R&D                              |Industrial Products, Heavy Machinery          |Senior Design Engineer                 |null          | Not Disclosed by Recruiter |
|d3a1f8730445764ca02e01883fc7c39e| Account Manager                                              | Not Disclosed by Recruiter |3 - 7 yrs              | Report Generation| Policies| analytical| procedures| Analysts| Data Entry| analytical skills                                                                           |Accounts                                  |Mumbai                             |Accounts , Finance , Tax , Company Secretary , Audit  |IT-Software, Software Services                |Accounts Manager                       |null          | Not Disclosed by Recruiter |
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+----------------------------+
only showing top 20 rows

In [ ]:
# Print Job Salary
df.select("Job Salary").show(truncate=False)

# Print Highest Salary
df.select("Highest Salary").show(truncate=False)

# Print Lowest Salary
df.select("Lowest Salary").show(truncate=False)

df=df.drop("Highest Salary","Lowest Salary")

+----------------------------+
|Job Salary                  |
+----------------------------+
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| 2,00,000 - 4,00,000 PA.    |
| Not Disclosed by Recruiter |
| 7,00,000 - 17,00,000 PA.   |
| 2,00,000 - 3,00,000 PA.    |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| 25,00,000 - 35,00,000 PA.  |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
|Openings: 1                 |
| 3,50,000 - 5,00,000 PA.    |
| 3,50,000 - 5,00,000 PA.    |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
+----------------------------+
only showing top 20 rows

+--------------+
|Highest Salary|
+--------------+
|null          |
|null          |
|null          |
|null          |
|4,00,000 PA.  |
|null          |
|17,00,000 PA. |
|3,00,000 PA.  |
|null          |
|null          |
|null          |
|null          |
|35,00,000 PA. |
|null          |
|null          |
|null          |
|5,00,000 PA.  |
|5,00,000 PA.  |
|null          |
|null          |
+--------------+
only showing top 20 rows

+----------------------------+
|Lowest Salary               |
+----------------------------+
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| 2,00,000                   |
| Not Disclosed by Recruiter |
| 7,00,000                   |
| 2,00,000                   |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
| 25,00,000                  |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
|Openings: 1                 |
| 3,50,000                   |
| 3,50,000                   |
| Not Disclosed by Recruiter |
| Not Disclosed by Recruiter |
+----------------------------+
only showing top 20 rows

In [ ]:

from pyspark.sql.functions import col, regexp_extract

pattern = r'(\d{1,2},\d{2},000) - (\d{1,2},\d{2},000) PA.'

# Extract highest and lowest salary using regular expression
extracted_salaries = df.select(
    col("Uniq Id"),
    regexp_extract(col("Job Salary"), pattern, 1).alias("Highest Salary"),
    regexp_extract(col("Job Salary"), pattern, 2).alias("Lowest Salary")
)

# Show the extracted salaries
extracted_salaries.show(truncate=False)

+--------------------------------+--------------+-------------+
|Uniq Id                         |Highest Salary|Lowest Salary|
+--------------------------------+--------------+-------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f|              |             |
|3c52d436e39f596b22519da2612f6a56|              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4|              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4|              |             |
|7b921f51b5c2fb862b4a5f7a54c37f75|2,00,000      |4,00,000     |
|2d8b7d44e138a54d5dc841163138de50|              |             |
|c9628ea8d9cfd2ca72e14d53783aca90|7,00,000      |17,00,000    |
|2008eb365fa0ebcb1ccd9a50efc3da49|2,00,000      |3,00,000     |
|9642bed00e26183e41ab73778bf48108|              |             |
|2633768efe8c6f72d75158f1c173f893|              |             |
|138a9ab97a766d8048f5b246172f65ed|              |             |
|138a9ab97a766d8048f5b246172f65ed|              |             |
|823c36988178cf5c9a6a34e4fc75d4e0|25,00,000     |35,00,000    |
|a607d6b0ce2e03b55463d12199932a86|              |             |
|fe0f1e3bae37f5a698e27659797333ca|              |             |
|225c4680e3df32fbaf9c625ca18ae47c|              |             |
|d3fac027fd78efae29c1f9394a6cd576|3,50,000      |5,00,000     |
|d3fac027fd78efae29c1f9394a6cd576|3,50,000      |5,00,000     |
|f501e8c72bdb217c4b61c712ed9c1361|              |             |
|d3a1f8730445764ca02e01883fc7c39e|              |             |
+--------------------------------+--------------+-------------+
only showing top 20 rows

In [ ]:
# prompt: count row of extracted_salaries and df

print("Count of rows in extracted_salaries:", extracted_salaries.count())
print("Count of rows in df:", df.count())

Count of rows in extracted_salaries: 32646
Count of rows in df: 32646

In [ ]:
# Assuming df is your existing DataFrame and extracted_salaries contains the relevant data

# Joining df and extracted_salaries based on the common column "Uniq Id"
joined_df = df.join(extracted_salaries, on="Uniq Id", how="left")

# Showing the joined DataFrame
joined_df.show(truncate=False)

+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+-------------+
|Uniq Id                         |Job Title                                                     |Job Salary                  |Job Experience Required|Key Skills                                                                                                                                                              |Role Category                             |Location                           |Functional Area                                       |Industry                                      |Role                                   |Highest Salary|Lowest Salary|
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+-------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner                                        | Not Disclosed by Recruiter |5 - 10 yrs             | Media Planning| Digital Media                                                                                                                                          |Advertising                               |Mumbai                             |Marketing , Advertising , MR , PR , Media Planning    |Advertising, PR, MR, Event Management         |Media Planning Executive/Manager       |              |             |
|3c52d436e39f596b22519da2612f6a56| Online Bidding Executive                                     | Not Disclosed by Recruiter |2 - 5 yrs              | pre sales| closing| software knowledge| clients| requirements| negotiating| client| online bidding| good communication| technology                                     |Retail Sales                              |Pune,Pune                          |Sales , Retail , Business Development                 |IT-Software, Software Services                |Sales Executive/Officer                |              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |              |             |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon                            |Engineering Design , R&D                              |Recruitment, Staffing                         |R&D Executive                          |              |             |
|7b921f51b5c2fb862b4a5f7a54c37f75| Technical Support                                            | 2,00,000 - 4,00,000 PA.    |0 - 5 yrs              | Technical Support                                                                                                                                                      |Admin/Maintenance/Security/Datawarehousing|Mumbai                             |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |Technical Support Engineer             |2,00,000      |4,00,000     |
|2d8b7d44e138a54d5dc841163138de50| Software Test Engineer -hyderabad                            | Not Disclosed by Recruiter |2 - 5 yrs              | manual testing| test engineering| test cases| web testing| web technologies                                                                                            |Programming & Design                      |Hyderabad                          |IT Software - QA & Testing                            |IT-Software, Software Services                |Testing Engineer                       |              |             |
|c9628ea8d9cfd2ca72e14d53783aca90| Opening For Adobe Analytics Specialist                       | 7,00,000 - 17,00,000 PA.   |5 - 7 yrs              | adobe experience manager| digital| digital marketing| adobe analytics| data analytics| aem| adobe| sitecatalyst                                                        |Programming & Design                      |Pune                               |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |System Analyst                         |7,00,000      |17,00,000    |
|2008eb365fa0ebcb1ccd9a50efc3da49| Sales- Fresher-for Leading Property Consultant               | 2,00,000 - 3,00,000 PA.    |0 - 0 yrs              | channel partners| real estate| negotiation| property| Residential Sales                                                                                                |Retail Sales                              |Bengaluru                          |Sales , Retail , Business Development                 |Real Estate, Property                         |Sales Executive/Officer                |2,00,000      |3,00,000     |
|9642bed00e26183e41ab73778bf48108| Opportunity For Azure Devops Architect For Hyderabad Location| Not Disclosed by Recruiter |9 - 14 yrs             | TFS| Azure| Git| VSTS| Docker| DynaTrace| Splunk| AWS                                                                                                                  |Programming & Design                      |Hyderabad                          |IT Software - Application Programming , Maintenance   |IT-Software, Software Services                |Technical Architect                    |              |             |
|2633768efe8c6f72d75158f1c173f893| BDE- PUNE                                                    | Not Disclosed by Recruiter |2 - 7 yrs              | Bde                                                                                                                                                                    |Institutional Sales                       |Pune                               |Sales , Retail , Business Development                 |IT-Software, Software Services                |Sales Executive/Officer                |              |             |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|              |             |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|              |             |
|138a9ab97a766d8048f5b246172f65ed| Product Support                                              | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|              |             |
|138a9ab97a766d8048f5b246172f65ed| Product Support                                              | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru                          |ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services                |Associate/Senior Associate -(Technical)|              |             |
|823c36988178cf5c9a6a34e4fc75d4e0| Executive Assistant To Chairman                              | 25,00,000 - 35,00,000 PA.  |5 - 10 yrs             | secretary| executive assistant| ea                                                                                                                                     |Corporate Planning/Consulting/Strategy    |Mumbai                             |Strategy , Management Consulting , Corporate Planning |Courier, Transportation, Freight , Warehousing|Corporate Planning/Strategy Manager    |25,00,000     |35,00,000    |
|a607d6b0ce2e03b55463d12199932a86| SEO Executive                                                | Not Disclosed by Recruiter |1 - 6 yrs              | website| web analytics| xml| link building| google analytics| case studies| seo| social media| tracking| maintaining                                                   |Admin/Maintenance/Security/Datawarehousing|Noida,Delhi,Noida/Greater Noida    |IT Software - eCommerce , Internet Technologies       |IT-Software, Software Services                |Webmaster                              |              |             |
|fe0f1e3bae37f5a698e27659797333ca| Workflow Coordinator                                         | Not Disclosed by Recruiter |2 - 7 yrs              | operations| workflow| tat| monitoring| mts| email                                                                                                                      |Operations                                |Delhi,Delhi                        |ITES , BPO , KPO , LPO , Customer Service , Operations|BPO, Call Centre, ITeS                        |Process Flow Analyst                   |              |             |
|225c4680e3df32fbaf9c625ca18ae47c|Oracle IDAM                                                   |Openings: 1                 | 3 - 7 Years           |Oracle IDAM|OIM|OAM                                                                                                                                                     |Programming & Design                      |Bengaluru,Hyderabad,Kolkata,Chennai|IT Software - Application Programming , Maintenance   |IT-Software / Software Services               |Software Developer                     |              |             |
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+-----------------------------------+------------------------------------------------------+----------------------------------------------+---------------------------------------+--------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, regexp_extract

pattern = r'(\d+) - (\d+) yrs'

# Extract minimum and maximum experience required using regular expression
extracted_experience = df.select(
    col("Uniq Id"),
    regexp_extract(col("Job Experience Required"), pattern, 1).alias("Min Experience Required"),
    regexp_extract(col("Job Experience Required"), pattern, 2).alias("Max Experience Required")
)

# Show the extracted experience required
extracted_experience.show(truncate=False)

+--------------------------------+-----------------------+-----------------------+
|Uniq Id                         |Min Experience Required|Max Experience Required|
+--------------------------------+-----------------------+-----------------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f|5                      |10                     |
|3c52d436e39f596b22519da2612f6a56|2                      |5                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4|0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4|0                      |1                      |
|7b921f51b5c2fb862b4a5f7a54c37f75|0                      |5                      |
|2d8b7d44e138a54d5dc841163138de50|2                      |5                      |
|c9628ea8d9cfd2ca72e14d53783aca90|5                      |7                      |
|2008eb365fa0ebcb1ccd9a50efc3da49|0                      |0                      |
|9642bed00e26183e41ab73778bf48108|9                      |14                     |
|2633768efe8c6f72d75158f1c173f893|2                      |7                      |
|138a9ab97a766d8048f5b246172f65ed|1                      |5                      |
|138a9ab97a766d8048f5b246172f65ed|1                      |5                      |
|823c36988178cf5c9a6a34e4fc75d4e0|5                      |10                     |
|a607d6b0ce2e03b55463d12199932a86|1                      |6                      |
|fe0f1e3bae37f5a698e27659797333ca|2                      |7                      |
|225c4680e3df32fbaf9c625ca18ae47c|                       |                       |
|d3fac027fd78efae29c1f9394a6cd576|2                      |4                      |
|d3fac027fd78efae29c1f9394a6cd576|2                      |4                      |
|f501e8c72bdb217c4b61c712ed9c1361|2                      |7                      |
|d3a1f8730445764ca02e01883fc7c39e|3                      |7                      |
+--------------------------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
df = joined_df.join(extracted_experience, on="Uniq Id", how="left")

# Showing the joined DataFrame
df.show(truncate=False)

+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+---------+------------------------------------------------------+-------------------------------------+---------------------------------------+--------------+-------------+-----------------------+-----------------------+
|Uniq Id                         |Job Title                                                     |Job Salary                  |Job Experience Required|Key Skills                                                                                                                                                              |Role Category                             |Location |Functional Area                                       |Industry                             |Role                                   |Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+---------+------------------------------------------------------+-------------------------------------+---------------------------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner                                        | Not Disclosed by Recruiter |5 - 10 yrs             | Media Planning| Digital Media                                                                                                                                          |Advertising                               |Mumbai   |Marketing , Advertising , MR , PR , Media Planning    |Advertising, PR, MR, Event Management|Media Planning Executive/Manager       |              |             |5                      |10                     |
|3c52d436e39f596b22519da2612f6a56| Online Bidding Executive                                     | Not Disclosed by Recruiter |2 - 5 yrs              | pre sales| closing| software knowledge| clients| requirements| negotiating| client| online bidding| good communication| technology                                     |Retail Sales                              |Pune,Pune|Sales , Retail , Business Development                 |IT-Software, Software Services       |Sales Executive/Officer                |              |             |2                      |5                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Trainee Research                                             | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|ffad8a2396c60be2bf6d0e2ff47c58d4| Research Executive- Hi- Tech Operations                      | Not Disclosed by Recruiter |0 - 1 yrs              | Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive|R&D                                       |Gurgaon  |Engineering Design , R&D                              |Recruitment, Staffing                |R&D Executive                          |              |             |0                      |1                      |
|7b921f51b5c2fb862b4a5f7a54c37f75| Technical Support                                            | 2,00,000 - 4,00,000 PA.    |0 - 5 yrs              | Technical Support                                                                                                                                                      |Admin/Maintenance/Security/Datawarehousing|Mumbai   |IT Software - Application Programming , Maintenance   |IT-Software, Software Services       |Technical Support Engineer             |2,00,000      |4,00,000     |0                      |5                      |
|2d8b7d44e138a54d5dc841163138de50| Software Test Engineer -hyderabad                            | Not Disclosed by Recruiter |2 - 5 yrs              | manual testing| test engineering| test cases| web testing| web technologies                                                                                            |Programming & Design                      |Hyderabad|IT Software - QA & Testing                            |IT-Software, Software Services       |Testing Engineer                       |              |             |2                      |5                      |
|c9628ea8d9cfd2ca72e14d53783aca90| Opening For Adobe Analytics Specialist                       | 7,00,000 - 17,00,000 PA.   |5 - 7 yrs              | adobe experience manager| digital| digital marketing| adobe analytics| data analytics| aem| adobe| sitecatalyst                                                        |Programming & Design                      |Pune     |IT Software - Application Programming , Maintenance   |IT-Software, Software Services       |System Analyst                         |7,00,000      |17,00,000    |5                      |7                      |
|2008eb365fa0ebcb1ccd9a50efc3da49| Sales- Fresher-for Leading Property Consultant               | 2,00,000 - 3,00,000 PA.    |0 - 0 yrs              | channel partners| real estate| negotiation| property| Residential Sales                                                                                                |Retail Sales                              |Bengaluru|Sales , Retail , Business Development                 |Real Estate, Property                |Sales Executive/Officer                |2,00,000      |3,00,000     |0                      |0                      |
|9642bed00e26183e41ab73778bf48108| Opportunity For Azure Devops Architect For Hyderabad Location| Not Disclosed by Recruiter |9 - 14 yrs             | TFS| Azure| Git| VSTS| Docker| DynaTrace| Splunk| AWS                                                                                                                  |Programming & Design                      |Hyderabad|IT Software - Application Programming , Maintenance   |IT-Software, Software Services       |Technical Architect                    |              |             |9                      |14                     |
|2633768efe8c6f72d75158f1c173f893| BDE- PUNE                                                    | Not Disclosed by Recruiter |2 - 7 yrs              | Bde                                                                                                                                                                    |Institutional Sales                       |Pune     |Sales , Retail , Business Development                 |IT-Software, Software Services       |Sales Executive/Officer                |              |             |2                      |7                      |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru|ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services       |Associate/Senior Associate -(Technical)|              |             |1                      |5                      |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru|ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services       |Associate/Senior Associate -(Technical)|              |             |1                      |5                      |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru|ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services       |Associate/Senior Associate -(Technical)|              |             |1                      |5                      |
|138a9ab97a766d8048f5b246172f65ed| Technical Support                                            | Not Disclosed by Recruiter |1 - 5 yrs              | technical support| support services| application support| communication skills| voice based process| semi voice| semi voice process                                    |Voice                                     |Bengaluru|ITES , BPO , KPO , LPO , Customer Service , Operations|IT-Software, Software Services       |Associate/Senior Associate -(Technical)|              |             |1                      |5                      |
+--------------------------------+--------------------------------------------------------------+----------------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------+---------+------------------------------------------------------+-------------------------------------+---------------------------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Uniq Id: string (nullable = true)
 |-- Job Title: string (nullable = false)
 |-- Job Salary: string (nullable = true)
 |-- Job Experience Required: string (nullable = true)
 |-- Key Skills: string (nullable = true)
 |-- Role Category: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Functional Area: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Highest Salary: string (nullable = true)
 |-- Lowest Salary: string (nullable = true)
 |-- Min Experience Required: string (nullable = true)
 |-- Max Experience Required: string (nullable = true)

In [ ]:
df.select("Key Skills").show()

+--------------------+
|          Key Skills|
+--------------------+
| Media Planning| ...|
| pre sales| closi...|
| Computer science...|
| Computer science...|
| Computer science...|
| Computer science...|
| Computer science...|
| Computer science...|
| Computer science...|
| Computer science...|
|   Technical Support|
| manual testing| ...|
| adobe experience...|
| channel partners...|
| TFS| Azure| Git|...|
|                 Bde|
| technical suppor...|
| technical suppor...|
| technical suppor...|
| technical suppor...|
+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import split, explode
df = df.withColumn("Location", explode(split(posting["Location"], ",")))

# Show the DataFrame with split "Job Title"
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|       Role Category| Location|     Functional Area|            Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|         Advertising|   Mumbai|Marketing , Adver...|Advertising, PR, ...|Media Planning Ex...|              |             |                      5|                     10|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|              |             |                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|              |             |                      2|                      5|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive|              |             |                      0|                      1|
|7b921f51b5c2fb862...|   Technical Support| 2,00,000 - 4,00,...|              0 - 5 yrs|   Technical Support|Admin/Maintenance...|   Mumbai|IT Software - App...|IT-Software, Soft...|Technical Support...|      2,00,000|     4,00,000|                      0|                      5|
|2d8b7d44e138a54d5...| Software Test En...| Not Disclosed by...|              2 - 5 yrs| manual testing| ...|Programming & Design|Hyderabad|IT Software - QA ...|IT-Software, Soft...|    Testing Engineer|              |             |                      2|                      5|
|c9628ea8d9cfd2ca7...| Opening For Adob...| 7,00,000 - 17,00...|              5 - 7 yrs| adobe experience...|Programming & Design|     Pune|IT Software - App...|IT-Software, Soft...|      System Analyst|      7,00,000|    17,00,000|                      5|                      7|
|2008eb365fa0ebcb1...| Sales- Fresher-f...| 2,00,000 - 3,00,...|              0 - 0 yrs| channel partners...|        Retail Sales|Bengaluru|Sales , Retail , ...|Real Estate, Prop...|Sales Executive/O...|      2,00,000|     3,00,000|                      0|                      0|
|9642bed00e26183e4...| Opportunity For ...| Not Disclosed by...|             9 - 14 yrs| TFS| Azure| Git|...|Programming & Design|Hyderabad|IT Software - App...|IT-Software, Soft...| Technical Architect|              |             |                      9|                     14|
|2633768efe8c6f72d...|           BDE- PUNE| Not Disclosed by...|              2 - 7 yrs|                 Bde| Institutional Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...|              |             |                      2|                      7|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|              |             |                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|              |             |                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...|              |             |                      1|                      5|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, when

# Convert empty spaces in "Highest Salary" column to "Not disclosed"
df = df.withColumn("Highest Salary", when(col("Highest Salary") == "", "Not disclosed").otherwise(col("Highest Salary")))

In [ ]:
df = df.withColumn("Lowest Salary", when(col("Lowest Salary") == "", "Not disclosed").otherwise(col("Lowest Salary")))

In [ ]:
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|       Role Category| Location|     Functional Area|            Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|         Advertising|   Mumbai|Marketing , Adver...|Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|7b921f51b5c2fb862...|   Technical Support| 2,00,000 - 4,00,...|              0 - 5 yrs|   Technical Support|Admin/Maintenance...|   Mumbai|IT Software - App...|IT-Software, Soft...|Technical Support...|      2,00,000|     4,00,000|                      0|                      5|
|2d8b7d44e138a54d5...| Software Test En...| Not Disclosed by...|              2 - 5 yrs| manual testing| ...|Programming & Design|Hyderabad|IT Software - QA ...|IT-Software, Soft...|    Testing Engineer| Not disclosed|Not disclosed|                      2|                      5|
|c9628ea8d9cfd2ca7...| Opening For Adob...| 7,00,000 - 17,00...|              5 - 7 yrs| adobe experience...|Programming & Design|     Pune|IT Software - App...|IT-Software, Soft...|      System Analyst|      7,00,000|    17,00,000|                      5|                      7|
|2008eb365fa0ebcb1...| Sales- Fresher-f...| 2,00,000 - 3,00,...|              0 - 0 yrs| channel partners...|        Retail Sales|Bengaluru|Sales , Retail , ...|Real Estate, Prop...|Sales Executive/O...|      2,00,000|     3,00,000|                      0|                      0|
|9642bed00e26183e4...| Opportunity For ...| Not Disclosed by...|             9 - 14 yrs| TFS| Azure| Git|...|Programming & Design|Hyderabad|IT Software - App...|IT-Software, Soft...| Technical Architect| Not disclosed|Not disclosed|                      9|                     14|
|2633768efe8c6f72d...|           BDE- PUNE| Not Disclosed by...|              2 - 7 yrs|                 Bde| Institutional Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      7|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
df = df.filter(
    ((col("Job Title") != "") |
     (col("Job Salary") != "") |
     (col("Job Experience Required") != "") |
     (col("Key Skills") != "") |
     (col("Role Category") != "") |
     (col("Location") != "") |
     (col("Functional Area") != "") |
     (col("Industry") != "") |
     (col("Role") != "") |
     (col("Highest Salary") != "") |
     (col("Lowest Salary") != "") |
     (col("Min Experience Required") != "") |
     (col("Max Experience Required") != ""))
)

# Show the filtered DataFrame
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|       Role Category| Location|     Functional Area|            Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|         Advertising|   Mumbai|Marketing , Adver...|Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...|        Retail Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|                 R&D|  Gurgaon|Engineering Desig...|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|7b921f51b5c2fb862...|   Technical Support| 2,00,000 - 4,00,...|              0 - 5 yrs|   Technical Support|Admin/Maintenance...|   Mumbai|IT Software - App...|IT-Software, Soft...|Technical Support...|      2,00,000|     4,00,000|                      0|                      5|
|2d8b7d44e138a54d5...| Software Test En...| Not Disclosed by...|              2 - 5 yrs| manual testing| ...|Programming & Design|Hyderabad|IT Software - QA ...|IT-Software, Soft...|    Testing Engineer| Not disclosed|Not disclosed|                      2|                      5|
|c9628ea8d9cfd2ca7...| Opening For Adob...| 7,00,000 - 17,00...|              5 - 7 yrs| adobe experience...|Programming & Design|     Pune|IT Software - App...|IT-Software, Soft...|      System Analyst|      7,00,000|    17,00,000|                      5|                      7|
|2008eb365fa0ebcb1...| Sales- Fresher-f...| 2,00,000 - 3,00,...|              0 - 0 yrs| channel partners...|        Retail Sales|Bengaluru|Sales , Retail , ...|Real Estate, Prop...|Sales Executive/O...|      2,00,000|     3,00,000|                      0|                      0|
|9642bed00e26183e4...| Opportunity For ...| Not Disclosed by...|             9 - 14 yrs| TFS| Azure| Git|...|Programming & Design|Hyderabad|IT Software - App...|IT-Software, Soft...| Technical Architect| Not disclosed|Not disclosed|                      9|                     14|
|2633768efe8c6f72d...|           BDE- PUNE| Not Disclosed by...|              2 - 7 yrs|                 Bde| Institutional Sales|     Pune|Sales , Retail , ...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      7|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
|138a9ab97a766d804...|   Technical Support| Not Disclosed by...|              1 - 5 yrs| technical suppor...|               Voice|Bengaluru|ITES , BPO , KPO ...|IT-Software, Soft...|Associate/Senior ...| Not disclosed|Not disclosed|                      1|                      5|
+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:

from pyspark.sql.functions import split, explode
df = df.withColumn("Functional Area", explode(split(posting["Functional Area"], ",")))

# Show the DataFrame with split "Job Title"
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|Role Category|Location|     Functional Area|            Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|          Marketing |Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|        Advertising |Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|                 MR |Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|                 PR |Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|      Media Planning|Advertising, PR, ...|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune|              Sales |IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune|             Retail |IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune| Business Develop...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune|              Sales |IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune|             Retail |IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|3c52d436e39f596b2...| Online Bidding E...| Not Disclosed by...|              2 - 5 yrs| pre sales| closi...| Retail Sales|    Pune| Business Develop...|IT-Software, Soft...|Sales Executive/O...| Not disclosed|Not disclosed|                      2|                      5|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon| Engineering Design |Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon|                 R&D|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon| Engineering Design |Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon|                 R&D|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon| Engineering Design |Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon|                 R&D|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon| Engineering Design |Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...|    Trainee Research| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon|                 R&D|Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
|ffad8a2396c60be2b...| Research Executi...| Not Disclosed by...|              0 - 1 yrs| Computer science...|          R&D| Gurgaon| Engineering Design |Recruitment, Staf...|       R&D Executive| Not disclosed|Not disclosed|                      0|                      1|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+--------------------+--------------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import split, explode
df = df.withColumn("Industry", explode(split(posting["Industry"], ",")))

# Show the DataFrame with split "Job Title"
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|Role Category|Location|Functional Area|         Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning| Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col


df = df.filter(
    ((col("Job Title") != "") |
     (col("Job Salary") != "") |
     (col("Job Experience Required") != "") |
     (col("Key Skills") != "") |
     (col("Role Category") != "") |
     (col("Location") != "") |
     (col("Functional Area") != "") |
     (col("Industry") != "") |
     (col("Role") != "") |
     (col("Highest Salary") != "") |
     (col("Lowest Salary") != "") |
     (col("Min Experience Required") != "") |
     (col("Max Experience Required") != ""))
)

# Show the filtered DataFrame
df.show()

+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|             Uniq Id|           Job Title|          Job Salary|Job Experience Required|          Key Skills|Role Category|Location|Functional Area|         Industry|                Role|Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|     Marketing | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|   Advertising | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            MR | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR |               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai|            PR | Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|      Advertising|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|               PR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning|               MR|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
|9be62c49a0b7ebe98...| Digital Media Pl...| Not Disclosed by...|             5 - 10 yrs| Media Planning| ...|  Advertising|  Mumbai| Media Planning| Event Management|Media Planning Ex...| Not disclosed|Not disclosed|                      5|                     10|
+--------------------+--------------------+--------------------+-----------------------+--------------------+-------------+--------+---------------+-----------------+--------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
# prompt: download df as csv
# Write DataFrame to a CSV file
df.write.csv("/content/job_data.csv", header=True, mode="overwrite")

In [ ]:
from pyspark.sql.functions import split, posexplode

# Split the "Key Skills" column into an array based on the delimiter "|"
df = df.withColumn("Key Skills", split(df["Key Skills"], "\\|"))

# Explode the array elements while maintaining their position
df = df.selectExpr("*", "posexplode(`Key Skills`) as (pos, skill)")

# Filter out odd indices to keep only the skills and remove the indices
df = df.filter(df["pos"] % 2 != 0).drop("pos")

# Show the DataFrame with split "Key Skills"
df.show(truncate=False)

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "split(Key Skills, \|, -1)" due to data type mismatch: Parameter 1 requires the "STRING" type, however "Key Skills" has the type "ARRAY<STRING>".;
'Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, split(Key Skills#9454, \|, -1) AS Key Skills#9472, Role Category#7797, Location#8741, Functional Area#9027, Industry#9133, Role#7801, Highest Salary#9238, Lowest Salary#9253, Min Experience Required#8567, Max Experience Required#8568]
+- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, split(Key Skills#7796, \|, -1) AS Key Skills#9454, Role Category#7797, Location#8741, Functional Area#9027, Industry#9133, Role#7801, Highest Salary#9238, Lowest Salary#9253, Min Experience Required#8567, Max Experience Required#8568]
   +- Filter ((((((((((((NOT (Job Title#8189 = ) OR NOT (Job Salary#7794 = )) OR NOT (Job Experience Required#7795 = )) OR NOT (Key Skills#7796 = )) OR NOT (Role Category#7797 = )) OR NOT (Location#8741 = )) OR NOT (Functional Area#9027 = )) OR NOT (Industry#9133 = )) OR NOT (Role#7801 = )) OR NOT (Highest Salary#9238 = )) OR NOT (Lowest Salary#9253 = )) OR NOT (Min Experience Required#8567 = )) OR NOT (Max Experience Required#8568 = ))
      +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#8741, Functional Area#9027, Industry#9133, Role#7801, Highest Salary#9238, CASE WHEN (Lowest Salary#8399 = ) THEN Not disclosed ELSE Lowest Salary#8399 END AS Lowest Salary#9253, Min Experience Required#8567, Max Experience Required#8568]
         +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#8741, Functional Area#9027, Industry#9133, Role#7801, CASE WHEN (Highest Salary#8398 = ) THEN Not disclosed ELSE Highest Salary#8398 END AS Highest Salary#9238, Lowest Salary#8399, Min Experience Required#8567, Max Experience Required#8568]
            +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#8741, Functional Area#9027, Industry#9133, Role#7801, Highest Salary#8398, Lowest Salary#8399, Min Experience Required#8567, Max Experience Required#8568]
               +- Generate explode(split(Industry#7800, ,, -1)), false, [Industry#9133]
                  +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#8741, Functional Area#9027, Industry#7800, Role#7801, Highest Salary#8398, Lowest Salary#8399, Min Experience Required#8567, Max Experience Required#8568]
                     +- Generate explode(split(Functional Area#7799, ,, -1)), false, [Functional Area#9027]
                        +- Filter ((((((((((((NOT (Job Title#8189 = ) OR NOT (Job Salary#7794 = )) OR NOT (Job Experience Required#7795 = )) OR NOT (Key Skills#7796 = )) OR NOT (Role Category#7797 = )) OR NOT (Location#8741 = )) OR NOT (Functional Area#7799 = )) OR NOT (Industry#7800 = )) OR NOT (Role#7801 = )) OR NOT (Highest Salary#8398 =  )) OR NOT (Lowest Salary#8399 =  )) OR NOT (Min Experience Required#8567 = )) OR NOT (Max Experience Required#8568 = ))
                           +- Filter ((((((((((((NOT (Job Title#8189 = ) OR NOT (Job Salary#7794 = )) OR NOT (Job Experience Required#7795 = )) OR NOT (Key Skills#7796 = )) OR NOT (Role Category#7797 = )) OR NOT (Location#8741 = )) OR NOT (Functional Area#7799 = )) OR NOT (Industry#7800 = )) OR NOT (Role#7801 = )) OR NOT (Highest Salary#8398 = )) OR NOT (Lowest Salary#8399 = )) OR NOT (Min Experience Required#8567 = )) OR NOT (Max Experience Required#8568 = ))
                              +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#8741, Functional Area#7799, Industry#7800, Role#7801, Highest Salary#8398, Lowest Salary#8399, Min Experience Required#8567, Max Experience Required#8568]
                                 +- Generate explode(split(Location#7798, ,, -1)), false, [Location#8741]
                                    +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801, Highest Salary#8398, Lowest Salary#8399, Min Experience Required#8567, Max Experience Required#8568]
                                       +- Join LeftOuter, (Uniq Id#7791 = Uniq Id#8596)
                                          :- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801, Highest Salary#8398, Lowest Salary#8399]
                                          :  +- Join LeftOuter, (Uniq Id#7791 = Uniq Id#8472)
                                          :     :- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801]
                                          :     :  +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801, Highest Salary#8252, split(Job Salary#7794,  - , -1)[0] AS Lowest Salary#8264]
                                          :     :     +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801, split(Job Salary#7794,  - , -1)[1] AS Highest Salary#8252]
                                          :     :        +- Project [Uniq Id#7791, Job Title#8189, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801]
                                          :     :           +- Generate explode(split(Job Title#7793, /, -1)), false, [Job Title#8189]
                                          :     :              +- Project [Uniq Id#7791, Job Title#7793, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801]
                                          :     :                 +- Filter (NOT (Uniq Id#7791 = ) AND ((((((((NOT (Job Title#7793 = ) OR NOT (Job Salary#7794 = )) OR NOT (Job Experience Required#7795 = )) OR NOT (Key Skills#7796 = )) OR NOT (Role Category#7797 = )) OR NOT (Location#7798 = )) OR NOT (Functional Area#7799 = )) OR NOT (Industry#7800 = )) OR NOT (Role#7801 = )))
                                          :     :                    +- Filter atleastnnonnulls(11, Uniq Id#7791, Crawl Timestamp#7792, Job Title#7793, Job Salary#7794, Job Experience Required#7795, Key Skills#7796, Role Category#7797, Location#7798, Functional Area#7799, Industry#7800, Role#7801)
                                          :     :                       +- Relation [Uniq Id#7791,Crawl Timestamp#7792,Job Title#7793,Job Salary#7794,Job Experience Required#7795,Key Skills#7796,Role Category#7797,Location#7798,Functional Area#7799,Industry#7800,Role#7801] csv
                                          :     +- Project [Uniq Id#8472, regexp_extract(Job Salary#8475, (\d{1,2},\d{2},000) - (\d{1,2},\d{2},000) PA., 1) AS Highest Salary#8398, regexp_extract(Job Salary#8475, (\d{1,2},\d{2},000) - (\d{1,2},\d{2},000) PA., 2) AS Lowest Salary#8399]
                                          :        +- Project [Uniq Id#8472, Job Title#8189, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482]
                                          :           +- Project [Uniq Id#8472, Job Title#8189, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482, Highest Salary#8252, split(Job Salary#8475,  - , -1)[0] AS Lowest Salary#8264]
                                          :              +- Project [Uniq Id#8472, Job Title#8189, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482, split(Job Salary#8475,  - , -1)[1] AS Highest Salary#8252]
                                          :                 +- Project [Uniq Id#8472, Job Title#8189, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482]
                                          :                    +- Generate explode(split(Job Title#8474, /, -1)), false, [Job Title#8189]
                                          :                       +- Project [Uniq Id#8472, Job Title#8474, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482]
                                          :                          +- Filter (NOT (Uniq Id#8472 = ) AND ((((((((NOT (Job Title#8474 = ) OR NOT (Job Salary#8475 = )) OR NOT (Job Experience Required#8476 = )) OR NOT (Key Skills#8477 = )) OR NOT (Role Category#8478 = )) OR NOT (Location#8479 = )) OR NOT (Functional Area#8480 = )) OR NOT (Industry#8481 = )) OR NOT (Role#8482 = )))
                                          :                             +- Filter atleastnnonnulls(11, Uniq Id#8472, Crawl Timestamp#8473, Job Title#8474, Job Salary#8475, Job Experience Required#8476, Key Skills#8477, Role Category#8478, Location#8479, Functional Area#8480, Industry#8481, Role#8482)
                                          :                                +- Relation [Uniq Id#8472,Crawl Timestamp#8473,Job Title#8474,Job Salary#8475,Job Experience Required#8476,Key Skills#8477,Role Category#8478,Location#8479,Functional Area#8480,Industry#8481,Role#8482] csv
                                          +- Project [Uniq Id#8596, regexp_extract(Job Experience Required#8600, (\d+) - (\d+) yrs, 1) AS Min Experience Required#8567, regexp_extract(Job Experience Required#8600, (\d+) - (\d+) yrs, 2) AS Max Experience Required#8568]
                                             +- Project [Uniq Id#8596, Job Title#8189, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606]
                                                +- Project [Uniq Id#8596, Job Title#8189, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606, Highest Salary#8252, split(Job Salary#8599,  - , -1)[0] AS Lowest Salary#8264]
                                                   +- Project [Uniq Id#8596, Job Title#8189, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606, split(Job Salary#8599,  - , -1)[1] AS Highest Salary#8252]
                                                      +- Project [Uniq Id#8596, Job Title#8189, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606]
                                                         +- Generate explode(split(Job Title#8598, /, -1)), false, [Job Title#8189]
                                                            +- Project [Uniq Id#8596, Job Title#8598, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606]
                                                               +- Filter (NOT (Uniq Id#8596 = ) AND ((((((((NOT (Job Title#8598 = ) OR NOT (Job Salary#8599 = )) OR NOT (Job Experience Required#8600 = )) OR NOT (Key Skills#8601 = )) OR NOT (Role Category#8602 = )) OR NOT (Location#8603 = )) OR NOT (Functional Area#8604 = )) OR NOT (Industry#8605 = )) OR NOT (Role#8606 = )))
                                                                  +- Filter atleastnnonnulls(11, Uniq Id#8596, Crawl Timestamp#8597, Job Title#8598, Job Salary#8599, Job Experience Required#8600, Key Skills#8601, Role Category#8602, Location#8603, Functional Area#8604, Industry#8605, Role#8606)
                                                                     +- Relation [Uniq Id#8596,Crawl Timestamp#8597,Job Title#8598,Job Salary#8599,Job Experience Required#8600,Key Skills#8601,Role Category#8602,Location#8603,Functional Area#8604,Industry#8605,Role#8606] csv

In [ ]:
# Explode the array elements while maintaining their position
df = df.selectExpr("*", "posexplode(`Key Skills`) as (pos, skill)")

# Filter out odd indices to keep only the skills and remove the indices
df = df.filter(df["pos"] % 2 != 0).drop("pos")

# Show the DataFrame with split "Key Skills"
df.show(truncate=False)

+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+--------------+
|Uniq Id                         |Job Title             |Job Salary                  |Job Experience Required|Key Skills                       |Role Category|Location|Functional Area|Industry         |Role                            |Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|skill         |
+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+--------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning|Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     | Digital Media|
+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+--------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Uniq Id: string (nullable = true)
 |-- Job Title: string (nullable = false)
 |-- Job Salary: string (nullable = true)
 |-- Job Experience Required: string (nullable = true)
 |-- Key Skills: string (nullable = false)
 |-- Role Category: string (nullable = true)
 |-- Location: string (nullable = false)
 |-- Functional Area: string (nullable = false)
 |-- Industry: string (nullable = false)
 |-- Role: string (nullable = true)
 |-- Highest Salary: string (nullable = true)
 |-- Lowest Salary: string (nullable = true)
 |-- Highest Salary: string (nullable = true)
 |-- Lowest Salary: string (nullable = true)
 |-- Min Experience Required: string (nullable = true)
 |-- Max Experience Required: string (nullable = true)

In [ ]:
df.show(truncate=False)

+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+
|Uniq Id                         |Job Title             |Job Salary                  |Job Experience Required|Key Skills                       |Role Category|Location|Functional Area|Industry         |Role                            |Highest Salary|Lowest Salary|Min Experience Required|Max Experience Required|
+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  |Marketing      | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Advertising   | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | MR            | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            |Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | PR            | Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning|Advertising      |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| PR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| MR              |Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
|9be62c49a0b7ebe982a4af1edaa7bc5f| Digital Media Planner| Not Disclosed by Recruiter |5 - 10 yrs             |[ Media Planning,  Digital Media]|Advertising  |Mumbai  | Media Planning| Event Management|Media Planning Executive/Manager|Not disclosed |Not disclosed|5                      |10                     |
+--------------------------------+----------------------+----------------------------+-----------------------+---------------------------------+-------------+--------+---------------+-----------------+--------------------------------+--------------+-------------+-----------------------+-----------------------+
only showing top 20 rows

In [ ]:
df.select("key Skills").show()

+--------------------+
|          key Skills|
+--------------------+
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
|[ Media Planning,...|
+--------------------+
only showing top 20 rows

In [ ]:
# Write DataFrame to a CSV file
df.write.csv("/content/job_data.csv", header=True, mode="overwrite")

AnalysisException: Column `Key Skills` has a data type of array<string>, which is not supported by CSV.

In [ ]:
# Read the CSV files using Spark
df1 = spark.read.csv("/content/job_data.csv/part-00000-7f39cf96-5fe7-40fe-a6b8-eb85a9517c67-c000.csv", header=True)
df2 = spark.read.csv("/content/job_data.csv/part-00001-7f39cf96-5fe7-40fe-a6b8-eb85a9517c67-c000.csv", header=True)

# Concatenate the DataFrames
df_combined = df1.union(df2)

# Convert Spark DataFrame to pandas DataFrame
df_pandas = df_combined.toPandas()

# Print the pandas DataFrame
print(df_pandas)

Py4JError: An error occurred while calling o2633.pandasStructHandlingMode. Trace:
py4j.Py4JException: Method pandasStructHandlingMode([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:321)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:329)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)